.nav-logo{
    width: 31% !important;
}

.content-full-width{
    margin: 22px 0 0 0;
}

.nav-profile-pic{
    max-width: 31px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-chirp{
    margin: 0 17% 3% 20%;
}


