.tl-profile-pic{
    border-radius: 50%;
    margin-right: 10px;
    max-height: 62px;
}

.tl-no-profile-pic{
    font-size: 62px;
    margin-right: 10px;
}

.comment-btn{
    background-color: #242a30;
    color: #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.input-group{
    width: 90% !important;
}

.comment-chirp{
    margin-left: 10px;
}